#pip install --only-binary=:all: blis
#pip install --upgrade pip setuptools wheel
fastapi
uvicorn
langchain
transformers>=4.30.0
torch==2.2.2 --extra-index-url https://download.pytorch.org/whl/cpu
sentencepiece
TTS==0.22.0
whisper
openai-whisper
ffmpeg-python
python-multipart
numpy==1.22.0
langchain-community==0.2.0
huggingface_hub[hf_xet]
llama-cpp-python